@import "theme";
@import "collapser";

.container{
    padding: 20px;
}

.dashboard-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title-container{
    display:flex;
    justify-content: space-between;
}

.card-btn{
    text-align: right;
}

.card-btn a{
    margin: 2px;
}

.card-body p{
    margin-bottom: 0;
}


.no-items{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.center-img-text{
    display:flex; 
    align-items: center;
    justify-content: center; 
    height: 500px;
}

.center-pagination{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.dashboard-header{
    //align-content: flex-start;
    text-align: center;
    width: 100%;
    font-family: 'Roboto';
    font-size: medium;
    text-transform: uppercase;
    background-color: rgba(188, 184, 197, 0.2);
    padding: 11px 30px;
}
