<div class="dashboard-wrapper">
	<div class="dashboard-header">
		<h1>Tableros de control</h1>
		<h2>Monitor&iacute;as</h2>
	</div>
	<div class="dashboard-greetings">
		<h4>¡Bienvenido, <strong>Juan Camilo</strong>!</h4>
		<p class="dashboard-greetings-general-info">Informaci&oacute;n general</p>
	</div>
	<div class='card-container'>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a routerLink="criteriadet">
					<h5 class="card-title">Criterios</h5>
					<img class="card-icon" src="./assets/img/inspection.svg" class="img">
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h5 class="card-title">Fechas</h5>
					<img src="./assets/img/date-48.svg" class="img">
				</a>
			</div>
		</div>
		<div class="card card-criteria is-green">                   
			<div class="card-body">
				<a href="#">
					<h5 class="card-title">Fast Track</h5>
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h5 class="card-title">Gesti&oacute;n de <br> cursos</h5>
					<img class="card-icon" src="./assets/img/inspection.svg" class="img">
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h5 class="card-title">Funciones y <br> habilidades</h5>
				</a>
			</div>
		</div>
		<div class="card card-criteria is-blue">                   
			<div class="card-body">
				<a href="#">
					<h5 class="card-title">Reportes</h5>
				</a>
			</div>
		</div>
	</div>
	<app-date-outline></app-date-outline>
</div>











