<div class="container-grid">
	<div class="filter-container">
		<div class="side-content">
			<div class="side-forms"> 
				<menu-form-search-filter></menu-form-search-filter>
			</div>
		</div>
		<!-- <div class="collapser">                  
			<button class="btn btn-light button-vertical" (click)="sidebarToggle(); isLeftIcon = !isLeftIcon;">
				<span *ngIf="isLeftIcon; else isRightIcon " class="oi oi-caret-left"></span>
				<ng-template #isRightIcon>
					<span class="oi oi-caret-right"></span>
				</ng-template>
			</button>                    
		</div> -->
	</div>
	<div class="list-container-grid">
		<div>
			<router-outlet></router-outlet>       
		 </div>
	</div>   
</div>