<div class="date-outline">
  <h5>Fechas importantes</h5>
  <div class="date-outline-items">
    <div class="date-item">
      <div class="date-item_date">
        <span class="month">Sept</span>
        <span class="date">1</span>
      </div>
      <h5 class="date-item__title">Inicio convocatoria</h5>
    </div>
    <div class="date-item">
      <div class="date-item_date">
        <span class="month">Sept</span>
        <span class="date">1</span>
      </div>
      <h5 class="date-item__title">Inicio convocatoria</h5>
    </div>
    <div class="date-item">
      <div class="date-item_date">
        <span class="month">Sept</span>
        <span class="date">1</span>
      </div>
      <h5 class="date-item__title">Inicio convocatoria</h5>
    </div>
    <div class="date-item">
      <div class="date-item_date">
        <span class="month">Sept</span>
        <span class="date">1</span>
      </div>
      <h5 class="date-item__title">Inicio convocatoria</h5>
    </div>
  </div>
</div>
