
<div class="dashboard-wrapper">
	<div class="dashboard-header">
		<h1>Criterios</h1>
	</div>
	<div class="dashboard-greetings">
		<p class="dashboard-criteria-text">Se presentan los Criterios generales m&iacute;nimos definidos por la universidad para que un estudiante
			pueda ser monitor de un curso. Por favor edite con los par&aacute;metros de su unidad acad&eacute;mica los criterios habilitados para esto.
		</p>
	</div>
	<div class='card-container'>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Cr&eacute;ditos inscritos</h6>
					<p class="card-description"> El estudiante debe tener m&iacute;nimo X cr&eacute;ditos inscritos.</p>
					<img class="card-icon" src="./assets/img/inspection.svg" class="img">
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Matr&iacute;cula</h6>
					<p class="card-description"> El estudiante debe estar matriculado en la universidad.</p>
					<img src="./assets/img/date-48.svg" class="img">
				</a>
			</div>
		</div>
		<div class="card card-criteria is-green">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Semestre</h6>
					<p class="card-description"> Estudiantes que est&eacute;n en primer semestre no pueden aplicar.</p>
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Nota Materia</h6>
					<p class="card-description"> La nota m&iacute;nima que el estudiante debe obtener cuando es obligatorio ver la materia.</p>
				</a>
			</div>
		</div>
		<div class="card card-criteria is-purple">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Promedio</h6>
					<p class="card-description"> El estudiante debe tener un promedio superior a 3.75.</p>
				</a>
			</div>
		</div>
		<div class="card card-criteria is-blue">                   
			<div class="card-body">
				<a href="#">
					<h6 class="card-title">Sanciones</h6>
					<p class="card-description"> El estudiante no debe tener sanciones disciplinarias ni acad&eacute;micas.</p>
				</a>
			</div>
		</div>
	</div>
	<app-date-outline></app-date-outline>
</div>











